body {
    background-color: #111;
}

.spacer10 {
    height: 10px;
}

.instructions {
    text-align:center;
}

.dropImageZone {
    position:relative;
    overflow:hidden; 
    width:400px; 
    height:400px; 
    background:#111; 
    border:6px dashed rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}

.dropImageChild{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.filePhoto{
    position:absolute;
    display: block;
    width: 400px;
    height: 400px;
}

.dropImageZone img{
    position:absolute;
    display: block;
    width: 400px;
    height: 400px;
}

.hideImage{
    opacity: 0.0;
}

.dropText {
    position:absolute;
    line-height: 300px;
    text-align: center;
}

.dropImageZone.dragover {
    border-color:#428bca;
    color:#000;
}

.dropText.dragover {
    display: none;
}

input[type="file"] {
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.alert {
    display:inline-block;   
}

.hidden {
    display:none;
}
